section{
    display:flex;
    flex-direction: column;
    padding: 90px 40px 50px;
    margin: 0 111.5px;
    background-color: black;
    font-size: 2.2rem;
}
.section-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-top--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
}
.section-top--container a:last-child > div {
    font-size: 1.6rem;
}

.section-project {
    background-color: #333333;
    display: flex;
    border-radius: 10px;
    position: relative;
    height: 146px;
    padding: 16px;
    margin-bottom: 16px;
    transition: transform 0.3s ease-in-out;
}
.section-project:hover {
    transform: scale(1.01);
}

.section-img {
    width: 150px;
    height: 110px;
    background-color: white;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    transition: transform 0.3s ease-in-out;
}
.section-img img {
    max-width: 100%;
    max-height: 100%;
}
.section-project:hover .section-img img {
    transform: scale(1.05);
}
.section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-content > div:nth-child(2) {
    font-size: 1.6rem;
    color: rgb(204, 204, 204);
}
.section-content > ul {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.section-content > ul > li {
    background-color: gray;
    color: black;
    font-size: 1.4rem;
    padding: 7px;
    border-radius: 5px;
}
.leader {
    background-color: #2188b6 !important;
    color: white !important;
}
.section-hamburger {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    right: 15px;
    top: 15px;
}
.section-hamburger > div {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.253);
    transition: transform 0.2s ease-in-out;
}
.section-project:hover .section-hamburger div:nth-of-type(1) {
    transform-origin: left;
    transform: scaleX(0.5);
}
.section-project:hover .section-hamburger div:nth-of-type(3) {
    transform-origin: right;
    transform: scaleX(0.5);
}
#footer-top {
    background-color: #333333;;
    height: 190px;
    padding: 40px;
    font-size: 1.4rem;
}
#footer-content {
    display: flex;
    justify-content: space-between;
    padding:0 40px;
    width: min(1200px, 100%);
    margin: 0 70px;
}
#footer-top div > a {
    display: flex;
}
.footer-left--img{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.footer-left--img img {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    row-gap: 10px;
    padding-right: 100px;
}
#footer-left a {
    display: flex;
}
#footer-left a:hover {
    transform: translateY(-2px);
}

#footer-left a div:nth-child(2) {
    display: flex;
    align-items: center;
}

#footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
#footer-right ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#footer-right ul > li:hover{
    transform: translateY(-2px);
}
#footer-right ul li:not(:last-child)::after {
    content: "|";
    margin-left: 20px; 
    color: rgba(255, 255, 255, 0.253);
    display: inline-block;
}
#footer-right ul > li:hover::after {
    transform: translateY(2px);
}

#footer-last {
    background-color: #222222;
    height: 44px;
    display: flex;
}
#footer-last > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(204, 204, 204);
    font-size: 1.4rem;
}
/*---------------------------------------*/
#section-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    font-size: 1.8rem;
}
.section-members {
    background-color: #333333;
    border-radius: 10px;
    padding: 16px;
    position: relative;
    display: flex;
    height: 146px;
    flex-direction: column;
}
.member {
    display: flex;
}
.member-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    margin-right: 10px;
}
.member-img img {
    max-width: 100%;
    max-height: 100%;
}
.member-content {
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
}
.member-content div:last-child {
    padding: 5px;
    border-radius: 5px;
    font-size: 1.4rem;
}
.non-major {
    background-color: #c54422;
}
.major {
    background-color: #2188b6;
}
.dual-major {
    background-color: #35a67b;
}
.member-word {
    padding-top: 16px;
}