{% extends 'index.html' %}
{% load static %}

{%block head%}
  <title>Idea List</title>
{%endblock%}

{%block content%}
  <div class="content-wrapper">
    <div class="idea-list">
        <h1>Idea List</h1>
        <p>나의 아이디어를 잊지 말고 기록해보세요.</p>
        <form id="sort-form" method="get" action="">
          <select id="sort-options" name="sort" onchange="document.getElementById('sort-form').submit();">
            <option value="latest" 
              {% if sort_option == "latest" %}
                selected
              {% endif %}>
                최신순
            </option>
            <option value="name" 
              {% if sort_option == "name" %}
                selected
              {% endif %}>
                이름순
            </option>
            <option value="interest" 
              {% if sort_option == "interest" %}
                selected
              {% endif %}>
                관심도순
            </option>
          </select>
        </form>
        {% for post in posts %}
          <div class="card">
              {% if post.image.url != null and post.image.url != '' %}
                <img src="{{post.image.url}}" alt="대체텍스트">
              {% else %}
                <img src="{% static '/image/image.png' %}" alt="">
              {% endif %}
              <button class="star-button" data-post-id="{{ post.pk }}">
                {% if post.ideastar_set.exists %}
                    ★
                {% else %}
                    ☆
                {% endif %}
              </button>
              <a href="{% url 'posts:detail' post.pk %}">
                <h2>{{ post.title }}</h2>
              </a>
              <hr/>
              <p>예상 개발 툴: {{ post.devtool.name }}</p>
              <p>아이디어 관심도
                <br/>
                <button class="increase-button" data-post-id="{{ post.pk }}">+</button>
                <span id="interest-{{ post.pk }}">{{ post.interest }}</span>
                <button class="decrease-button" data-post-id="{{ post.pk }}">-</button>
              </p>
          </div>
        {% endfor %}
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
// $(document).ready(function(){
//     $('.increase-button, .decrease-button').click(function(event){
//         event.preventDefault();
//         var postId = $(this).data('post-id');
//         var btn = $(this).hasClass('increase-button') ? 'increase' : 'decrease';
//         $.ajax({
//             url: `/update_interest/${postId}/${btn}/`,
//             method: 'GET',
//             success: function(response) {
//                 $(`#interest-${postId}`).text(response);
//             }
//         });
//     });
// });
document.addEventListener('DOMContentLoaded', function() {
    // 관심도 버튼
    document.querySelectorAll('.increase-button, .decrease-button').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const pk = this.dataset.postId; 
            const btn = this.classList.contains('increase-button') ? 'increase' : 'decrease'; 

            fetch(`/update_interest/${pk}/${btn}/`)
              .then(response => {
                  return response.text();
              })
              .then(text => {
                  document.getElementById(`interest-${pk}`).textContent = text;
              })
              .catch(error => console.error('Error:', error));
        });
    });

    document.querySelectorAll('.star-button').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const pk = this.dataset.postId;
            const action = this.textContent.includes('★') ? 'remove' : 'add';
            console.log(action)

            fetch(`/update_star/${pk}/${action}/`)
                .then(response => {
                  return response.text();
                })
                .then(text => {
                    if (text === 'starred') {
                        button.textContent = '★'; 
                    } else {
                        button.textContent = '☆';
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });
});
</script>
{%endblock%}