<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Movie Reviews</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="/reviews">
                <h1><span class="highlight">my</span>Movie reviews</h1>
            </a>
            <a href="/reviews/create" class="add-review">Add a New Review</a>
        </header>
        <div class="reviews">
            {% for review in reviews %}
            <div class="review">
                <a href="/reviews/{{ review.id }}/">
                    <img src="{% static 'images/movie.jpg' %}" alt="My Image"/>
                    <h2>{{ review.title }}</h2>
                    <p>개봉년도 {{ review.release_year }}년</p>
                    <p>장르 {{ review.genre }}</p>
                    <p>별점 {{ review.rating }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
