<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Movie Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="/reviews">
                <h1><span class="highlight">my</span>Movie reviews</h1>
            </a>
            <a href="/reviews/create" class="add-review">Add a New Review</a>
        </header>
        <div class="review-form">
            <h2><span class="highlight">Movie</span> review 🍿</h2>
            <form action="/reviews/{{review.id}}/update/" method="post">
                {% csrf_token %}
                <label for="title">제목:</label>
                <input type="text" id="title" name="title" value="{{review.title}}" required/>
                
                <label for="release_year">개봉년도:</label>
                <input type="text" id="release_year" name="release_year" value="{{review.release_year}}" required/>

                <label for="genre">장르:</label>
                <input type="text" id="genre" name="genre" value="{{review.genre}}" required/>
                
                <label for="rating">별점:</label>
                <input type="text" id="rating" name="rating" step="0.1" min="0" max="5" value="{{review.rating}}" required/>
                
                <label for="running_time">러닝타임:</label>
                <input type="text" id="running_time" name="running_time" value="{{review.running_time}}" required/>
                
                <label for="review">리뷰:</label>
                <textarea name="review" cols="30" rows="10" required>{{review.review}}</textarea>
                
                <label for="director">감독:</label>
                <input type="text" id="director" name="director" value="{{review.director}}" required/>
                
                <label for="actors">배우:</label>
                <input type="text" id="actors" name="actors" value="{{review.actors}}" required/>
                
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</body>
</html>
