body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*---------------- nav 바 ---------------------*/
nav {
    background-color: #333333;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #ffffffa1;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffff;
}
/*---------------- main ---------------------*/
#title {
    color: white;
    font-size: 20px;
}

#title > strong{
    color: lightgreen;
}

main {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.678);
    margin: 100px;
    padding: 20px;
}
/*---------------- list의 card ---------------------*/
.card {
    background-color: lightblue;
    border-radius: 10px;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    width: 210px;
    text-align: center;
    position: relative;
}

.card img {
    width: 100%; 
    height: auto; 
    max-height: 120px;
    object-fit: cover; 
    margin: 0 auto; 
    background-color: white;
}

.card h2 {
    font-size: 1.4em;
    margin: 0.5em 0;
}

.card p {
    margin: 0.5em 0;
}
  
.card-text {
    color: #cccccc;
}
/*----------------  devtool의 list ---------------------*/
.content-wrapper {
    padding: 2rem;
    border-radius: 0.5rem;
}
.content-wrapper h1 {
    color: lightgreen;
    font-weight: bold;
}
.list-group {
    gap: 10px;
}
.list-group-item {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    display: flex;
    gap: 30px;
}
  
.list-group-item h5 {
    font-weight: bold;
}
  
.list-group-item p {
    margin-bottom: 0.5rem;
}
/*---------------- devtool의 detail ---------------------*/
.tooldetail-container {
    display: flex;
}
.tooldetail-container {
    text-align: left; 
}

.related-posts {
    padding: 0; 
    margin: 0; 
    text-align: left; 
}

.related-posts li {
    list-style-type: none; 
    margin: 0.5em 0; 
}
.devtool-border {
    border: 1px solid white; 
    padding: 10px;        
    margin: 10px;       
}
/*---------------- 찜하기 ---------------------*/
.star-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: yellow; 
}
/*---------------- post의 detail ---------------------*/
.idea-detail {
    margin: 0 30px;
}
.detail-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-img img {
    width: 100%; 
    max-width: 270px; 
    height: auto; 
    object-fit: cover;
}
.detail {
    position: relative;
}
.detail-container {
    display: flex;
    border: 1px solid white; 
    padding: 10px;        
    margin: 10px;    
}
.detail-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.idea-detail-title {
    display: flex;
}
.star-detail{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: yellow; 
}

/*---------------- 관심도 증감버튼 ---------------------*/
.decrease-button , .increase-button {
    background: none;
    border: none;
    font-size: 1.3rem;
    color: gray;
}
.decrease-button:hover , .increase-button:hover {
    color: white
}